main {
  label {
    color: white;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-right: 50px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
  }
}
