header {
  background-color: $backgroundbody;
  margin-bottom: 50px;
  white-space: nowrap;
}

h1 {
  color: $headercolor;
  text-align: center;
}

label {
  color: $labelcolor;
}

.filter-menu {
  text-align: center;

  label {
    margin-right: 60px;
  }
}
